@import '../styles/variables.scss';

.content {
    padding-left: $left-sidebar-width + $standard-separator;
    padding-right: $right-sidebar-width + $standard-separator;
    color: $content-text-color;
}

.side-panel {
    height: 100%;
    position: fixed;
}

.left {
    width: $left-sidebar-width;
    top: 0;
    left: 0;
}

.right {
    width: $right-sidebar-width;
    top: 0;
    right: 0;
}