@import 'styles/variables.scss';

.content {
    padding-left: $sidebar-width + $standard-separator;
    padding-right: $sidebar-width + $standard-separator;
    color: $content-text-color;
}

.side-panel {
    height: 100%;
    width: $sidebar-width;
    position: fixed;
}

.left {
    top: 0;
    left: 0;
}

.right {
    top: 0;
    right: 0;
}