/* You can add global styles to this file, and also import other style files */
@import 'app/styles/variables.scss';
@import 'bootstrap';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
    background-color: $content-background;
}

a:link,
a:visited,
a:hover,
a:active {
    color: $menu-text-color;
    text-decoration: none;
}

app-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $content-background;
}

